<div class="mt-8">
  <div class="text-center text-yellow-400 m-0 font-['Games'] mx-auto">
    <ng-container *ngIf="!level; else DoYourBest">
      <button
        (click)="scroll()"
        class="cursor-pointer inline sm:text-8xl text-4xl my-4"
      >
        Play
      </button>
    </ng-container>
    <ng-template #DoYourBest>
      <div class="flex flex-col gap-4">
        <button
          [disabled]="level"
          class="cursor-pointer inline sm:text-8xl text-4xl"
        >
          {{ getMessage }}
        </button>
        <div class="text-6xl">Level {{ level }}</div>
      </div>
    </ng-template>
  </div>
</div>
