<app-navbar></app-navbar>
<app-play-button></app-play-button>
<div class="w-3/4 mx-auto bg-indigo-900 rounded-lg p-8 shadow-md">
  <div class="grid sm:grid-rows-3 gap-4">
    <div class="flex justify-center">
      <app-button color="red"></app-button>
    </div>
    <div class="grid sm:grid-flow-col justify-center sm:gap-24 gap-4">
      <div class="">
        <app-button color="blue"></app-button>
      </div>
      <div class="">
        <app-button color="green"></app-button>
      </div>
    </div>
    <div class="flex justify-center">
      <app-button color="yellow"></app-button>
    </div>
  </div>
</div>
