.sideBarSlideIn {
  transform: translateX(0);
  animation: slideIn 0.25s ease-in;
}

@keyframes slideIn {
  from {
    opacity: 1;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sideBarSlideOut {
  transform: translateX(-100%);
  animation: slideOut 0.25s ease-out;
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 1;
    transform: translateX(-100%);
  }
}
