<ng-container class="absolute" *ngIf="showStats">
  <div
    class="text-[16px] text-black rounded absolute w-[200px] grid items-center p-4 bg-gray-100"
    [ngClass]="popoverStylesMobile ? 'top-8' : 'top-0 left-[10rem]'"
  >
    <div class="flex justify-end">
      <fa-icon
        class="cursor-pointer"
        (click)="closePopover()"
        size="lg"
        [icon]="faIcon"
      ></fa-icon>
    </div>
    <div class="">
      <span class="font-bold">Regular Score:</span> {{ user.regularScore }}
    </div>
    <div class="">
      <span class="font-bold">Strict Score:</span> {{ user.strictScore }}
    </div>
  </div>
</ng-container>
